
OpenMediaDB/\.idea/

OpenMediaDB/omdb-api/src/main/resources/api-key\.txt

OpenMediaDB/omdb-api/target/

OpenMediaDB/file-crawler/target/

OpenMediaDB/omdb-api/src/test/java/OmdbAPITest\.kt

OpenMediaDB/data-manager/target/

*.db

OpenMediaDB/target/

OpenMediaDB/open-media-db-parent/target/

*.iml

OpenMediaDB/openmediadb\.log

*.gz

OpenMediaDB/subtitle-manager/target/

\.scannerwork/

OpenMediaDB/common/target/
